body {
	background-color: #F5F5F5;
}

/* Renamed img to classes to prevent every img from spinning. */
.spin {
	transition: all .8s;
  transition-timing: ease-in-out;
}

.spin:hover {
	transform: rotate(360deg);
}


#topbar {
	background-color: #1f2833;
	margin-bottom: 0px;
	box-shadow: 0px 5px 5px grey;
}

/* changes icons in top bar to off-white */
#topbar .navbar-brand {
	color:  #f9f9f9;
}

.menu {
	/* Add some design elements */
  text-decoration: none;
	background-color: white;

	color: white;

	height: 100vh;
	width: 250px;
}

.menu a {
  /* This affects the menu button text */
  display: block;
	margin-left: 10px;
  padding: 15px;

  /* No underline under the tab texts */
  text-decoration: none;
	color: grey;

	font-size: 1.3em;
  line-height: 1.7em;
}

/* adds padding to icons */
.menu span {
	padding-right: 15px;
}

/* same color as the background of website */
.menu a:hover {
	color: #E1E1E1;
}

/* needed to apply everything under active */
#active > * {
	color: #1f2833;
	text-decoration: underline;
}

#userbar {
	background-color: white;
	width: 100vw;
}

#userbar .navbar-brand {
		color: #1f2833;
		margin-right: 10px;
}

/* TODO: Align and space based on other elements instead of a static number. */
.spotify-login-button {
    margin-left: 300px;
    margin-top: 500px;

    max-height: 250px;
    max-width: 250px;

    /* Wrap the image instead of having extra padding */
    display: block;
}

.no-login-button {
    background-color: gray;
    max-height: 250px;
    max-width: 250px;

    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: block;
    font-size: 16px;
    border-radius: 80px;

    margin-left: 300px;
    margin-top: 50px;

}

a.no-login-button:hover {
    background-color: #1f2833;
}